
a.weixin {
    position: relative;
}
 
.weixin img {
    position: absolute;
    left: -28px;
    top: -235px;
    z-index: 99;
    width: 20rem;
    height: 20rem;
    border: 0.3125rem solid #0085ba;
    border-radius: 0.25rem;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    max-width: none;
}
 
.weixin:hover img {
    transform: scale(1);
    opacity: 1;
}

/* Dropdown Button */
.dropbtn {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: 4px;
    border-style: double;
    cursor: pointer;
    border-radius: 25px;
    border-color: #ffffff;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 3px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffffff}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #cc0000;
}



/*   this years speaker*/

#our_speakers {
    padding: 110px 0 70px;
}
.tz_our_speakers_img {
    position: relative;
    overflow: hidden;
}
.tz_our_speakers_img:before {
    background: transparent;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -webkit-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
}
.tz_our_speakers_img img {
    width: 100%;
    transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -webkit-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
}
.tz_our_speakers_img .tz_our_speakers_social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.tz_meetup_social_speakers {
    transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    opacity: 0;
    z-index: 1;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
.tz_meetup_social_speakers a {
    color: #ffffff;
    text-decoration: none;
}
.tz_meetup_social_speakers a i.fa {
    padding: 0 10px;
    font-size: 15px;
}
span.tz_text_hover_speaker {
    text-transform: uppercase;
    color: #000000;
    font-size: 12px;
    display: inline-block;
    background: #ffffff;
    line-height: 2.5em;
    padding: 0 25px;
    font-weight: 400;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    opacity: 0;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
.tz_our_speakers_container {
    text-align: center;
    border-left: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 5px solid #e7e7e7;
    transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -webkit-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    padding: 14px 0 15px;
}
.tz_our_speakers_container h4 {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 2px;
}
.tz_our_speakers_container span {
    font-size: 12px;
    color: #aaaaaa;
}
.tz_our_speakers {
    margin-bottom: 43px;
    cursor: pointer;
}
.tz_our_speakers:hover .tz_our_speakers_img:before {
    background: rgba(110, 98, 98, 0.5);
    z-index: 1;
    transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -webkit-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
}
.tz_our_speakers:hover .tz_our_speakers_container {
    border-bottom-color: #F62C2C; /*bootm line*/
}
.tz_our_speakers:hover img {
    transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -webkit-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.tz_our_speakers:hover .tz_meetup_social_speakers {
    opacity: 1;
    transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -webkit-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.tz_our_speakers:hover .tz_text_hover_speaker {
    opacity: 1;
    transition: all 0.4s linear 0.1s;
    -moz-transition: all 0.4s linear 0.1s;
    -webkit-transition: all 0.4s linear 0.1s;
    -ms-transition: all 0.4s linear 0.1s;
    -o-transition: all 0.4s linear 0.1s;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.tz-md-modal-speakers span.md-close {
    display: block;
    text-align: right;
    padding: 10px 0;
    color: #0c1327;
    margin-bottom: 90px;
}
.tz-md-modal-speakers span.md-close.tz-md-close {
    text-align: center;
    margin-bottom: 20px;
}
.tz-md-close em {
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    margin: 15px 0;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    display: block;
}
.tz-md-modal-speakers span.md-close i.fa {
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
}
.tz-md-modal-speakers span.md-close i.fa:hover {
    color: #000000;
}
.tz_modal_speakers_content_title {
    color: #000000;
}
.tz_modal_speakers_content {
    padding: 0 15px;
}
.tz_modal_speakers_content:after {
    display: table;
    clear: both;
    content: '';
}
.tz_modal_speakers_content p {
    line-height: 1.8em;
    margin-bottom: 20px;
}
h4.tz_modal_name {
    color: #000000;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 5px;
}
span.tz_modal_employment {
    display: block;
    color: #898b90;
    margin-bottom: 4px;
}
.tz_modal_speakers_content .ezcol span {
    font-size: 18px;
}
.tz_modal_speakers_content .ezcol span i {
    font-size: 14px;
}
.tz_modal_speakers_content .tz-plazart-list li span.tz_icon_maniva_list {
    margin-top: 3px;
}
.tz_modal_speakers_content .tz-plazart-list {
    margin: 0;
}
.tz_modal_speakers_content .tz-plazart-list li p {
    line-height: 1.5em;
    font-size: 14px;
}
.tz_modal_title {
    text-align: center;
    margin-bottom: 15px;
}
.tz_modal_image {
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    border: 1px solid rgba(0,0,0,0.1);
    top: -125px;
    left: 50%;
    margin-left: -125px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.tz_modal_image_content {
    border: 5px solid rgba(255,255,255,0.5);
    display: block;
    overflow: hidden;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.tz-md-modal-speakers img {
    width: 100%;
}
.tz_modal_speakers_social {
    text-align: center;
}
.tz_modal_speakers_social a {
    color: #898b90;
    margin: 0 5px;
    transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
}
.tz_modal_speakers_social a:hover {
    color: #000000;
    text-decoration: none;
}
.tz-plazart-list li span.tz_icon_maniva_list_custom i {
    color: #53c5a9;
}

.ds-table {
    display: table;
    height: 100%;
    width: 100%;
}
.ds-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.split {
  width: 45%;
  float: left;
  padding: 2%;
}

.split > div.row {
  width: 200%;
}
